{% extends 'base.html' %}

{% block content %}

<div class="container" align="center">
<img src="{{ url_for('static',filename=current_user.profile_photo_path) }}">
<form method ='POST' action="" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <div class="mb-3">
        {{ form.profile_photo.label(class = 'form-label') }} {{ form.profile_photo(class="form-control") }}
        <small class="text-danger">{{ form.profile_photo.errors | join('|') }}</small><br>
    </div>

    <div class="mb-3">
    {{ form.username.label(class = 'form-label') }} {{ form.username(class='form-control') }}
    <small class='text-danger'>{{ form.username.errors | join('|') }}</small>
    </div>

<div class="mb-3">
    {{ form.email.label(class = 'form-label') }} {{ form.email(class='form-control') }}
    <small class='text-danger'>{{ form.email.errors | join('|') }}</small>
    </div>


    <div class="mb-3">
    {{ form.submit(class='btn btn-secondary') }}
    </div>

</form>
</div>
{% endblock %}